/*
Typical Device Breakpoints

Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

 Large devices (laptops/desktops, 992px and up) @media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
*/

@media only screen and (min-width: 768px) and (max-width: 992px){
    section#login{
        width: 80vw;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-position: right 35% bottom 45%;
        

    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}